body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}

/* h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
} */