body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: #F8FAE5;
}


header {
    background-color: #F8FAE5;
}
footer {
    background-color: #43766C;
}

/* h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
} */